body{
    background-image: url("https://wallpaperset.com/w/full/f/0/b/224243.jpg");
    position: relative;
}
.container{
    color: rgb(44, 44, 44);
    display: block;
    margin: 32px auto;
    padding: 20px 70px;
    width: 70vw;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.58);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}
.header{
    text-align: center;
}
.header h1{
    padding-bottom: 20px;
    font-weight: 700;
}
.header span a {
    color: rgba(35, 35, 35, 0.704);
    text-decoration: none;
    padding: 5px 25px;
    font-size: 20px;
}
.header span a:hover{
    color:rgb(28, 28, 28);
    text-decoration: underline;
}
.navbar{
    margin-top: 25px;
}
.navbar a{
    color: rgb(44, 44, 44);
    font-size: 20px;
}
.navbar-brand strong.emoji:last-child{
    font-size: 40px
}
.navbar form input{
    color: black;
    width: 35vw;
    padding: 10px;
}
.navbar form button{
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: -15px;
    width: 10vw;
    border: none;
    border-radius: 0px 7px 7px 0px;
}
.weather_result{
    width: 85%;
    /* display: inline-block; */
    margin: 40px auto;
}
/* .weather_result navbar-brand{
    font-size: 380em;
} */
.weather_result span.navbar-brand {
    color: rgb(44, 44, 44);
}
.weather_result span.navbar-brand p:last-child,
.weather_result span.navbar-brand p:last-child a
{
    font-size: 65px;
    line-height: 10px;
}
.weather_result span.navbar-brand p:last-child a {
    text-decoration: underline;
}
.weather_result a{
    text-decoration: none;
    font-size: 20px;
}
section.forecast a.content{
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 44, 44);
    width: fit-content;
    padding-left: 75px;
}
.forecast a.content p strong.emoji{
    font-size: 55px;
    line-height: 50px;
}
section.forecast a p:first-child,
section.forecast a p:last-child{
    font-size: 20px;
}
.container p.footer{
    text-align: center;
    margin-top: 10px;
}
